<h1 id="tableLabel">Sales Tax Task</h1>

<p>This component demonstrates Sales Tax feature</p>

<p *ngIf="!items"><em>Loading...</em></p>
<label>Search: </label>
<input type="search" [(ngModel)]="search">

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="items">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>List Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of (items | filter:search)as item">
      <td>{{ f.product.id }}</td>
      <td>{{ f.product.description }}</td>
      <td>{{ f.product.listPrice }}</td>
      <td>
        <input type="number" [(ngModel)]="f.quantity" />
        <button (click)="addToInvoice(f)">Add</button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="(items | filter:search).length <1">
  Not Found
</div>
<h2>Receipt Result</h2>
<table class="table table-striped" *ngIf="descriptions.length > 0">
  <thead>
    <tr>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of (descriptions)">
      <td>{{d}}</td>
    </tr>
  </tbody>
</table>
